@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* { margin: 0;}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #EAD7D7;
}

.header {
    background-color: #412234;
    color: white;
    height: 60px;
    padding: 20px 60px;
}

h1 { font-size: 38px;}

button.add-book {
    border: none;
    margin: 15px 0 0 80vw;
    border-radius: 8px;
    background-color: white;
    font-size: xx-large;
    font-weight: bold;
    padding: 7px 30px;
}

button.add-book:hover {
    background-color: rgb(236, 236, 236);
}

.card {
    background-color: white;
    padding: 15px 10px 15px 10px;
    width: 270px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.card button {
    background-color: #6D466B;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.buttons { display: flex; gap: 15px;}

button.read { padding: 5px 32px;}
button.remove { padding: 5px 21px;}

.grid {
    padding: 6.48vh 10vw;
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    justify-content: center;
    justify-items: center;
    row-gap: 40px;
}

.popup {
    position: fixed;
    top: 180px;
    right: 115px;
}

.hidden {
    display: none;
}

form {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 8px 0 15px 15px;
    width: 280px;
    background-color: white;
    border-radius: 8px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkbox {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.close {
    background-color: #412234;
    color: white;
    font-weight: bold;
    position: relative;
    left: 240px;

    padding: 6px 11px;
    border: none;
    border-radius: 50%;
    
}

.close:hover {
    background-color: #412234da;
}

input[type="checkbox"] {
    position: relative;
    bottom: 2px;
}

input {
    padding-left: 5px;
    box-sizing: border-box;
    border: 1px solid #999;
    height: 30px;
    border-radius: 4px;
}

input:focus {
    border: 2px solid #000;
    outline: none;
    
}

.add-button {
    background-color: #6D466B;   
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.add-button:hover {
    background-color: #6d466bd2;
}