@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* { margin: 0;}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #EAD7D7;
}

.header {
    background-color: #412234;
    color: white;
    height: 60px;
    padding: 20px 60px;
}

h1 { font-size: 38px;}

.card {
    background-color: white;
    padding: 15px 10px 15px 10px;
    width: 270px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.card button {
    background-color: #6D466B;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.buttons { display: flex; gap: 15px;}

button.read { padding: 5px 32px;}
button.remove { padding: 5px 21px;}

.grid {
    padding: 6.48vh 10vw;
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    justify-content: center;
    justify-items: center;
    row-gap: 40px;
}