@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* { margin: 0;}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #EAD7D7;
}

.header {
    background-color: #412234;
    color: white;
    height: 60px;
    padding: 20px 60px;
}

h1 { font-size: 38px;}